.home {
  display: flex;
  align-items: center;
  justify-content: space-around;

  background: radial-gradient(50% 50% at 50% 50%, #5975ff 0%, #3029d9 100%);

  .right {
    width: 70%;
    img {
      width: 100%;
    }
  }
  .left {
    width: 150px;
    h1 {
      font-family: "Poppins", sans-serif;
      font-size: 94px;
      font-weight: 700;
      color: white;
      line-height: 128px;
    }

    p {
      margin-top: 30px;
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: white;
      width: 475px;
      line-height: 28px;
    }

    button {
      margin-top: 40px;
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 21px;
      background: #111849;
      border-radius: 5px;
      width: 170px;
      color: white;
      padding: 10px 50px;
    }
  }
}

@media screen and (max-width: 430px) {
  .home {
    display: flex;
    justify-content: start;
    .left {
      padding: 40px;
      button{
        margin-left: 70px;
      }
      p {
        width: 307px;
        font-family: "Poppins", sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
      }
      h1 {
        margin-left: 30px;
        width: 244px;
        font-family: "Poppins", sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 54px;
        text-align: center;
      }
    }
    .right {
      display: none;
    }

    .middle {
      display: none;
    }

    .mobile {
      display: block; // Change this to block to make the menu visible
      cursor: pointer;

      img {
        width: 30px; // Adjust the size of the hamburger icon
        height: auto;
      }
    }
  }
}
